<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="UI Automation Suite" verbose="1" parallel="tests" thread-count="3">
    <test name="Smoke Test Chrome">
        <classes>
            <class name="com.warehouse.cucumberRunner.CucumberTestRunner"/>
        </classes>
    </test>
</suite>
